@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d7ceb2;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c2c5aa;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.chess-board {
  background: #c2c5aa;
  box-shadow:  8px 8px 20px #9da08a,
  -8px -8px 20px #e7eaca;
}